streamlit==1.53.0

tensorflow==2.16.2
keras==3.12.0
numpy==1.26.4
pandas==2.3.3
opencv-python==4.9.0.80
pillow==12.1.0
matplotlib==3.10.8
scikit-learn==1.7.2
scipy==1.15.3

protobuf==4.25.8
h5py==3.15.1
requests==2.32.5
rich==14.2.0

